/* -------------------- */
/* --- bullet setting --- */
/* -------------------- */

.HyperMD-list-line { 
    font-size: calc(var(--font-text-size)*0.95) !important;
    padding-top: calc(var(--list-spacing) + 0.3em) !important;
    /* padding-bottom: calc(var(--list-spacing) - 0.1em) !important; */
    line-height: 1.35 !important;
}

.HyperMD-list-line-nobullet {
    font-size: calc(var(--font-text-size)*0.95) !important;
    padding-top: calc(var(--list-spacing)-0.1em) !important;
    padding-bottom: calc(var(--list-spacing)-0.1em) !important;
    line-height: 1.35 !important;
}

.cm-formatting-list-ul{
    padding-inline-start: calc(var(--list-padding-inline-start) - 0.4em) !important;
    color: var(--editor-font-color) !important;
    margin-right: 0em !important;
}

.cm-indent-spacing {
    padding-inline-start: calc(var(--list-indent-editing) + var(--list-marker-space) - 0.48em) !important;
}

.list-bullet {
    color: var(--editor-font-color) !important;
    padding-right: 0.2em !important;
}