
/* -------------------- */
/* --- basic setting --- */
/* -------------------- */

.cm-line,
.markdown-preview-view .el-p {
    color: var(--editor-font-color) !important;
    line-height: var(--editor-line-height) !important;
    font-weight: var(--editor-weight) !important;
}

/* 現在カーソルがある行の背景色を変更 */
.cm-active.cm-line {
  background-color: var(--current-cursor-color) !important;
  /* border-bottom: solid 2px #4ff157 !important; */
}

/* 折りたたんだ場合のマージン調整 */
.cm-line .is-collapsed {
    margin-bottom: 10px !important;
}

/* -------------------- */
/* --- title setting --- */
/* -------------------- */

/* この設定を入れると、画像を挿入した際、クリック判定の位置がずれるため、削除する。 */

/* .inline-title {
    /* タイトル。現在はconfigで
    inline title offにしているので表示されない */
    font-size: 1.3em !important;
    /* 斜めフォント */
    font-style: italic !important;
}

.view-header-title-parent, .view-header-title {
    /* title(status barにあるほう)デザイン */
    font-size: 20px !important;
    font-style: italic !important;
    color: rgb(0, 0, 0) !important;
} */


/* -------------------- */
/* --- minimal setting --- */
/* -------------------- */

/* この設定を入れると、画像を挿入した際、クリック判定の位置がずれるため、削除する。 */

/* .metadata-container, .metadata-container .is-collapsed {
    /* propertyのサイズを小さくする */
    margin: 0 !important;
} */

/* .cm-scroller {
    /* 無駄部分除去のため。 */
    padding-top: 15px !important;
} */





