/* .cm-contentContainer {
    margin: 0 !important;
    padding: 0 !important;
}

.cm-scroller {
    padding: 1px !important;
} */

.metadata-container {
    /* display: none !important; */
    
    /* margin: 0 !important;
    padding: 0 !important;
    margin-top: 5px !important;
    line-height: 0.5 !important; */
    margin: 0 !important;
}

.metadata-container .is-collapsed {
    margin: 0 !important;
    /* padding: 0 !important; */
    /* margin-top: 5px !important; */
    /* line-height: 0.5 !important; */
}

.inline-title {
    font-size: 1.3em !important;
    /* 斜めフォント */
    font-style: italic !important;
}

.cm-scroller {
    padding-top: 15px !important;
}

.table-cell-wrapper {
    /* padding-top: 0.2em !important; */
    color: rgb(0, 0, 0) !important;
    line-height: 1.7 !important;
    /* line-height: 1.5 !important; */
    font-weight: 430 !important;
}

table th:nth-child(1), table td:nth-child(1) {
    color: rgb(0, 0, 0) !important;
    line-height: 1.7 !important;
    font-size: 80% !important;
    font-weight: 430 !important;
    min-width: 180px !important;
    max-width: 180px !important;
}
table th:nth-child(2), table td:nth-child(2) {
    color: rgb(0, 0, 0) !important;
    line-height: 1.7 !important;
    font-size: 80% !important;
    font-weight: 430 !important;
    min-width: 250px !important;
}

/* .mod-active-row-handle .cm-active.cm-line .cm-scroller{
    line-height: 1 !important;
    padding-top: 0px !important;
} */

.table-wrapper .cm-scroller {
    padding-top: 0px !important;
}

.cm-line {
    /* padding-top: 0.2em !important; */
    color: rgb(0, 0, 0) !important;
    line-height: 1.7 !important;
    /* line-height: 1.5 !important; */
    font-weight: 430 !important;
}

.HyperMD-list-line { 
    font-size: calc(var(--font-text-size)*0.95) !important;
    padding-top: calc(var(--list-spacing) + 0.3em) !important;
    line-height: 1.35 !important;
}

.HyperMD-list-line-nobullet {
    font-size: calc(var(--font-text-size)*0.95) !important;
    padding-top: calc(var(--list-spacing) - 0.2em) !important;
    line-height: 1.35 !important;
    /* padding-inline-start: calc(var(--list-indent-editing)*0.9) !important; */
}

.cm-formatting-list-ul{
    padding-inline-start: calc(var(--list-padding-inline-start) - 0.4em) !important;
    /* padding-right: 0.1em !important; */
    color: black !important;
    margin-right: 0em !important;
}

.cm-indent-spacing {
    padding-inline-start: calc(var(--list-indent-editing) + var(--list-marker-space) - 0.48em) !important;
    /* padding-right: 0.5em !important; */
}

.list-bullet {
    color: black !important;
    /* scale: 1.7 !important; */
    padding-right: 0.2em !important;
}

.metadata-container {
    /* font-size: 0.7em !important; */
}

/* 現在カーソルがある行の背景色を変更 */
.cm-active.cm-line {
  background-color: rgba(72, 134, 77, 0.2);
  /* border-bottom: solid 2px #4ff157 !important; */
}

