/* ========= 見出し1 ========= */
.HyperMD-header.HyperMD-header-1.cm-line,
.markdown-preview-view h1 {
    font-size: 160%;
    background-color: #acc79f;
    color: #3a6e01 !important;
    font-weight: bold !important;
    line-height: var(--editor-line-height) !important;
    
    padding-top : 0px !important;
    padding-bottom: 0.3% !important;
    margin-bottom: 2% !important  ;
    margin-bottom: 5px !important;
}

/* ========= 見出し2：行全体に下線 ========= */

.HyperMD-header.HyperMD-header-2.cm-line,
.markdown-preview-view h2 {
    color: #49634a !important;
    font-size: 120% !important;
    font-weight: bold !important;
    
    margin-bottom: 2% !important  ;
    padding-top : 0px !important;
    padding-bottom: 0.% !important;
    
    border-bottom: 2.5px solid #49634a !important;
}

    

.cm-s-obsidian .cm-line.HyperMD-header-2 {
    /* margin-bottom: 15px !important  ; */
    margin-bottom: 2.5% !important  ;
    /* margin-bottom: 10px !important  ; */
}

/* ========= 見出し3：太字＋文字に下線 ========= */
.HyperMD-header.HyperMD-header-3.cm-line,
.markdown-preview-view h3 {
    font-size: 110%;
    text-decoration: underline;
    font-weight: bold !important;
    color: #49634a !important;
    
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}
